.imgSuperior {
  height: 220px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.6)
    ),
    url("obrasHome.jpg");
  background-color: transparent;
  background-size: cover;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
}
.projectsSpace {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
.casasTerminadas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
}

.casasTerminadas h3 {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}
.casasTerminadas p {
  width: 95%;
  text-align: center;
}
.proyectoCasas {
  width: 45%;
  text-align: center;
}
.sistema-Constructivo {
  width: 45%;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
  text-align: center;
}

.casasImg1,
.casasImg2,
.casasImg3,
.casasImg4,
.casasImg5 {
  background-size: cover;
  height: 400px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.casasImg1 {
  background-image: url("/public/Imagenes/1moderna.jpg");
}
.casasImg2 {
  background-image: url("/public/Imagenes/1rustica.jpg");
}
.casasImg3 {
  background-image: url("/public/Imagenes/2estrucAcero.jpg");
}
.casasImg4 {
  background-image: url("/public/Imagenes/3ForjSanit.jpg");
}
@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .proyectoCasas {
    width: 84%;
    height: 200px;
    margin-bottom: 30px;
  }
  .sistema-Constructivo {
    width: 84%;
  }
  .casasTerminadas p {
    width: 84%;
  }
  .casasImg1,
  .casasImg2,
  .casasImg3,
  .casasImg4 {
    height: 200px;
    margin-bottom: 30px;
  }
}
