.phone,
.mail,
.position {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  margin-left: 25px;
  margin-right: 10%;
}

.position {
  margin-right: 25px;
}

.phone p,
.mail p,
.position p {
  color: var(--myWhite);
  font-size: 18px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .phone p,
  .mail p,
  .position p {
    font-size: 12px;
  }

  .phone {
    margin-left: 5%;
    margin-right: 0px;
  }
  .mail {
    margin-left: 19%;
    margin-right: 0px;
  }
  .position {
    width: 100%;
  }
}
