#root {
  top: 0;
  left: 0;
}
.imgSuperior {
  height: 300px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.6)
    ),
    url("obrasHome.jpg");
  background-color: transparent;
  background-size: cover;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
}
.projectsSpace {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
.projecto1 {
  width: 45%;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}
.reformasImg1,
.reformasImg2,
.reformasImg3,
.reformasImg4,
.reformasImg5,
.reformasImg6 {
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-size: cover;
  height: 400px;
}
.reformasImg1 {
  background-image: url("/public/Imagenes/1Fachadas.jpg");
}
.reformasImg2 {
  background-image: url("/public/Imagenes/2PInt.jpg");
}
.reformasImg3 {
  background-image: url("/public/Imagenes/3RefEstruct.jpg");
}
.reformasImg4 {
  background-image: url("/public/Imagenes/4Cubiertas.jpg");
}
.reformasImg5 {
  background-image: url("/public/Imagenes/5RefInt.jpg");
}
.reformasImg6 {
  background-image: url("/public/Imagenes/6Retail.jpg");
}
@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .projectsSpace {
    display: block;
  }
  .projecto1,
  .projecto2,
  .projecto3,
  .projecto4,
  .projecto5,
  .projecto6 {
    width: 84%;
  }
  .reformasImg1,
  .reformasImg2,
  .reformasImg3,
  .reformasImg4,
  .reformasImg5,
  .reformasImg6 {
    height: 150px;
    margin-bottom: 30px;
  }
}
